/****************************
Main Containers
****************************/


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url(../svgs/background.svg) #edeff0;
  background-size: 5%;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

/****************************
Anchors/Paragraphs
****************************/

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

/****************************
After Headers
****************************/

main {
  padding-top: 50px;

  h2 {
  font-size: 28px;
    }
  .dogs {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
        @include media-query(700px) {
            flex-wrap: nowrap;
    }

    li {
          list-style-type: none;
          display: inline-block;
          width: 50%;
          @include media-query(700px) {
              width: 25%;
          }

          span {
              margin-left: -40px;
          }
      }
  }
}
