// 1. Center Logo

.center-logo {
    width: 28%;

    .circle {
        fill: #BA8058;
    }

    .text {
        opacity: 0;
        @include media-query (420px){
            opacity: 1;
            fill: orange;
        }
    }


    .paw {
        fill: #F4C6A6;
    }
}

// 2. Dogs

.dogs {

    svg:nth-of-type(1) {
        width: 85%;
        border: 1px solid red;
    }
    // svg {
    //     width: 85%;
    //     padding-bottom: 10px;
    //
    //     .snout {
    //             fill: white;
    //         }
    //
    //     .coat {
    //             fill: #52595F;
    //         }
    //
    //     .eyebrow,
    //     .ear {
    //             fill: #BA8058;
    //         }
    //     }
    }
